<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.guat.smartpark.mapper.ChargingAlarmMapper" >


    <update id="updateSelective" parameterType="cn.guat.smartpark.dto.AlarmListDto">
        update charging_alarm
        <set>
            <if test="alarmLevelCode  != null">
                alarm_level = #{alarmLevelCode},
            </if>
            <if test="alarmTime != null">
                alarm_time = #{alarmTime},
            </if>
            <if test="alarmType != null">
                alarm_type = #{alarmType},
            </if>
            <if test="status !=null">
                status = #{status}
            </if>
            where id = #{id}
        </set>
    </update>

    <delete id="delete">
        delete from charging_alarm
        where id = #{id}
    </delete>

    <select id="getUnProcessedAlarm" resultType="cn.guat.smartpark.entity.ChargingAlarm">
        select * from charging_alarm
        where device_id = #{deviceId}
        and alarm_type = #{alarmType}
        and status != 2
        limit 1
    </select>

    <select id="getById" resultType="cn.guat.smartpark.entity.ChargingAlarm">
        select * from charging_alarm
        where id = #{id}
    </select>

</mapper>

